* {
    all: unset;
    font-family: "Rubik", "JetBrainsMono Nerd Font", sans-serif;
    font-size: 12px;
}

.bar {
    background-color: transparent;
}

tooltip {
    background-color: rgba($base, 0.8);
    color: $text;
    border-radius: 15px;
    border: 1px solid $surface0;
}